# Dirs
url/
backups/
auto-save-list/
archives/
elpa/archives/
eshell/
el-get/
elpa/
url/

# Files
.emacs.desktop
.emacs.desktop.lock
*.elc
places
ido.last
.smex-items
ac-comphist.dat
*~
*#
.#*
!.#
.ensime
.ensime_cache
TAGS
projectile-bookmarks.eld
tramp
recentf
